doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Save Card
  body
    // Load the Payment Widgets script with dynamic checkoutId
    script(src=`${paymentGatewayDomain}/v1/paymentWidgets.js?checkoutId=${checkoutId}`)
    
    // Payment form with shopperResultUrl
    form(action=`${serverDomain}/api/payment-getway/initial-payment-status/${checkoutId}/${userId}`, class='paymentWidgets', data-brands='VISA MASTER MADA', id='paymentForm')

    script.
        var wpwlOptions = {
          style: "card",
          registrations: {
            requireCvv: true,
          },
        };

